body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  .error-box {
    max-width: 80%;
    color: #ff0000;
    text-align: center;
    border: 1px solid #ffcccc;
    background-color: #ffe5e5;
  }

  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    max-width: 450px;
  }


  .profile-image {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-image img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
  }
  
  .input-group {
    width: 75%;
    margin-bottom: 25px;
  }
  
  .input-group label {
    font-size: 1rem;
    margin-bottom: 5px;
    display: block;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }
  
  .login-button {
    width: 45%;
    padding: 10px;
    font-size: 1rem;
    background-color: #32689a;
    color: white;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.1''s step-end;
  }
  
  .login-button:hover {
    background-color: #2a4373;
  }
  