.user-detail-container {
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

.user-detail-card {
  border: 1px solid #ddd;
  margin-top: 20vh;
  margin-bottom: 30vh;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user-detail-card p {
  margin: 10px 0;
  line-height: 1.5;
  color: #333;
}

.user-detail-card strong {
  font-weight: bold;
}

.user-image-wrapper {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}

.user-profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: block;
  margin: auto;
  transition: transform 0.2s;
}

.logout-button {
  background-color: #dc3545;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  margin: 0 5px;
}

.logout-button:hover {
  background-color: #a71d2a;
}


.user-profile-picture.disabled {
  cursor: default;
  transform: none !important;
  border-color: #aaa;
}

.user-profile-picture:hover {
  transform: scale(1.05);
}

.user-image-wrapper.clickable .user-profile-picture {
  cursor: pointer;
}

.uploading-status {
  margin-top: 10px;
  color: #555;
  font-size: 14px;
  font-style: italic;
}

.editable-input {
  display: block;
  width: 90%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  font-family: Arial, sans-serif;
}

.edit-buttons {
  text-align: center;
  margin-top: 15px;
}

.edit-button,
.save-button,
.cancel-button {
  background-color: #007bff;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  margin: 0 5px;
}

.edit-button:hover,
.save-button:hover {
  background-color: #0056b3;
}

.cancel-button {
  background-color: #dc3545;
}

.cancel-button:hover {
  background-color: #a71d2a;
}
