  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    width: auto;
    overflow-x: hidden;
  }

  .page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .articles-container{
    margin-left: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 50vh;
    padding: 20px;
    background-color: #f5f5f5;
    flex: 1;
  }

  .info-section{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    background-color: #f5f5f5;
  }

  .section-title{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding-bottom: 5rem;
  }

  .section-title::after{
    content: '';
    display: block;
    width: 80%; 
    border-bottom: 4px solid #000;
  }

  .section-text{
    font-size: 1rem;
    text-align: left;
    margin: 0;
    padding-bottom: 10rem;
  }

  .sections {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }
  
  .section-button {
    background: none;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    color: #000;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
  }
  
  .section-button:hover {
    border-bottom: 2px solid #ccc;
  }
  
  .section-button.selected {
    font-weight: bold;
    border-bottom: 2px solid #007BFF;
  }
  
  .input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 25px;
    overflow: hidden;
    width: 100%;
    max-width: 500px;
    margin-bottom: 32px;
  }
  
  input {
    padding: 10px 15px;
    flex: 1;
    font-size: 16px;
    border: none;
    outline: none;
  }

  .search-select {
    padding: 10px;
    border: 4px solid #F5F5F5;
    font-weight: bold;
  }
  
  .search-button {
    padding: 10px;
    background-color: #32689A;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 0 25px 25px 0;
  }
  
  .search-button:hover {
    background-color: #0e406e;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .card-author {
    font-size: 12px;
    color: #777;
    margin-top: 8px;
  }
  
  .card-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
  }
  
  .card-description {
    font-size: 16px;
    color: #555;
    line-height: 1.4;
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
  }
  
  .pagination button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .pagination button:disabled {
    background-color: #eaeaea;
    cursor: not-allowed;
  }  
  